<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekdorn.silentium">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher_complete"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher_complete_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SilentiumMorseMessenger" >

        <activity
            android:name=".activities.ProxyActivity"
            android:exported="true"
            android:theme="@style/Theme.SilentiumMorseMessenger.Proxy" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activities.SilentActivity"
            android:theme="@style/Theme.SilentiumMorseMessenger.NoActionBar" />

        <activity android:name=".activities.IMSSettingsActivity"
            android:theme="@style/Theme.SilentiumMorseMessenger.NoActionBar" />

        <service android:name=".services.SilentIMS"
            android:label="@string/silent_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data android:name="android.view.im"
                android:resource="@xml/silent_input_method" />
        </service>

    </application>

</manifest>
